@model YoutubeFinancesViewModel

@{
	ViewData["Title"] = "Finances";
}
<partial name="_TempData" />




<div class="row">
	<div class="col-md-4 offset-md-4">
		<h2 class="text-bg-info align-content-center">PAYMENT DETAILS</h2>
		<h4 class="text-bg-info align-middle">Total amount in your accout: @Model.Wallet $</h4>
		<form id="registerForm" method="post">
			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="text-center mb-3">
				<label>Bank name</label>
				<input class="form-control" autocomplete="Bank" placeholder ="Bank name"/>
				<span class="text-danger"></span>
			</div>
			<div class="text-center mb-3">
				<label>Owner name</label>
				<input class="form-control " autocomplete="on" placeholder="Account owner name" />
				<span class="text-danger"></span>
			</div>
			<div class="text-center mb-3">
				<label>IBAN </label>
				<input class="form-control " autocomplete="3 digits" placeholder="BG80 BNBG 9661 1020 3456 78" />
				<span class="text-danger"></span>
			</div>
			<div class="text-center mb-3">
				<label asp-for="@Model.Wallet">Enter amount</label>
				<input class="form-control " autocomplete="wallet" aria-required="true" placeholder="$" />
				<span asp-validation-for="@Model.Wallet" class="text-danger"></span>
			</div>
			<div class="text-center mb-3">
				<label>
					Details of Payment
				</label>
				<input class="form-control " autocomplete="3 digits" placeholder="Enter details" />
				<span class="text-danger"></span>
			</div>
			<div class="text-center">
				<button id="registerSubmit" type="submit" class="btn btn-primary">Submit</button>
				<a class="btn btn-primary" asp-area="Youtube" asp-controller="Youtuber" asp-action="Main">Back to main</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

