<ul class="navbar-nav me-auto">
						@if (User?.Identity?.IsAuthenticated ?? false)
						{
							<li class="nav-item">
								<a class="nav-link text-muted" asp-area="" asp-controller="Home" asp-action="Main">Main</a>
							</li>

							 @*DROP DOWN MENU*@

							<li class="nav-itemdropdown">
								<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" asp-controller="Menu" asp-action="UserInfo">User Info</a>
									<a class="dropdown-item" asp-controller="Menu" asp-action="Settings">Setting</a>
								</div>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-muted" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
							</li>
						}



					</ul>




					@*SEARCH MENU*@

					@*<form class="d-flex">
					<input class="form-control me-sm-2" type="text" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
					</form>*@
					<partial name="_LoginPartial" />