@using SponsorY.DataAccess.ModelsAccess.Admin;
@model AdminStatisticViewModel

@{
	ViewData["Title"] = "Statistic";
}

<div class="col-md-4 offset-md-4">
	<h2>Total youtube chanles : @Model.NumYoutubChanels</h2>
	<h2></h2>
	<h2>Total sponsorhips : @Model.NumSponsorhips</h2>
</div>
