@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-muted">Welcome to my first app</h1>
    <h4 class="display-8 text-muted">This app is created to help people from Youtube or Sponsors to find eachothers</h4>
</div>
